<div class="container">
  <div class="carousel-inner shadow-4-strong carousel-styles p-0">
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
      <mdb-carousel-item>
        <img
          src="slide1.jpg"
          class="d-block"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Пруд Журавлиная заводь</h5>
          <p>Озера Беларуси сверкают как драгоценные камни.</p>
        </div>
      </mdb-carousel-item>
  
      <mdb-carousel-item>
        <img
          src="slide2.jpg"
          class="d-block"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Рассвет летом</h5>
          <p>Реки Беларуси извиваются, как серебряные нити.</p>
        </div>
      </mdb-carousel-item>
  
      <mdb-carousel-item>
        <img
          src="slide3.jpg"
          class="d-block"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Живописные пейзажи</h5>
          <p>Воды белорусских рек и озер манят своей чистотой и спокойствием.</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="about-site">
    <h2>Для кого этот сайт</h2>
    <ol class="list-group list-group-light list-group-numbered">
      <li class="list-group-item">Сайт помогает сохранить и передать будущим поколениям богатое культурное наследие Беларуси, включая мифы, легенды, обряды и традиции.</li>
      <li class="list-group-item">Caйт может служить образовательным ресурсом для школьников, студентов и всех, кто интересуется историей и культурой Беларуси.</li>
      <li class="list-group-item">Сайт может привлечь туристов, заинтересованных в уникальных культурных аспектах страны, таких как народные праздники и танцы.</li>
      <li class="list-group-item">Платформа может способствовать популяризации белорусского народного творчества, включая музыку, танцы и ремесла.</li>
      <li class="list-group-item">Платформа может предоставлять информацию o мастерах народных ремесел и артистах, занимающихся традиционными танцами и музыкой.</li>
    </ol>
  </div>
</div>
  
