.brand {
    font-size: 24px;
    color: black;
}

.header-top-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-buttons {
    display: flex;
    gap: 20px;
}

.nav-items {
    width: 100%;
}

.nav-items ul{
    display: flex;
    flex-direction: row;
    gap: 70px;
    
    a{
        color: black;
        cursor: pointer;
    }

    a:hover{
        text-shadow: 2px 2px 5px rgba(46, 46, 46, 0.5);
    }
}