<nav class="navbar navbar-light bg-light border-bottom border-2">
    <div class="container">
        <div class="header-top-line">
            <a class="brand" routerLink="">
                <img
                    src="logo.webp"
                    height="40"
                    alt="musicca"
                    loading="lazy"
                    class="me-2"
                />
                BELMIF
            </a>
            <div class="social-buttons">
                <a class="btn text-white btn-lg btn-floating" style="background-color: #000000;" href="#!" role="button" mdbRipple>
                    <i class="fab fa-instagram"></i>
                </a>
      
                <a class="btn text-white btn-lg btn-floating" style="background-color: #000000;" href="#!" role="button" mdbRipple>
                    <i class="fab fa-linkedin-in"></i>
                </a>
    
                <a class="btn text-white btn-lg btn-floating" style="background-color: #000000;" href="#!" role="button" mdbRipple>
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <div class="nav-items">
            <ul class="navbar-nav me-auto mb-0 ">
                <li class="nav-item">
                    <a class="nav-link fs-5" routerLink="/traditions">ТРАДИЦИИ</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link fs-5" routerLink="/mythology">МИФОЛОГИЯ</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link fs-5" routerLink="/holidays">ПРАЗДНИКИ</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link fs-5" routerLink="/dances">ТАНЦЫ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>